body{
    max-width: 1280px;
    margin: auto;
    font-family: 'Raleway', Arial, serif;
    background-color: #F2F2F2;
}

#activities, #search, footer, section, #stays, header{
    width: 95%;
    margin-bottom: 14px;
}

footer{
    justify-content: flex-start;
    min-height: 130px;
}

footer div{
    flex: 33%;
    text-align: left
}

header{
    flex-direction: row;
    justify-content: space-between;
}

#stays{
    min-height: 630px;
}

#latest{
    flex:70%;
}

section img{
    border-radius: 6px 6px 0px 0px;
}

aside img{
    border-radius: 6px 0px 0px 6px;
}

#stays{
    flex-wrap: nowrap;
}

aside{
    flex:30%;
    border-radius: 6px;
}

nav{
    height: 80px;
}

ul{
    list-style-type: none;
}

nav ul{
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

nav li{
    padding: 10px 10px 10px 10px;
    margin-right:15px
}

@media all and (max-width: 1024px){
    header, #stays, #footer, #stays-list{
        flex-direction: column;
    }

    #latest, aside, #footer div, #nav li, #stays, #stays-list div, .box{
        width: 100%
    }
}

#stays-list img{
    min-width: 225px;
    height: 125px;
}

#popular-list img{
    width: 150px;
    height: 150px
}

nav li:hover{
    border-top: 2px solid #0065FC;
}

nav li:nth-child(3){
    font-weight: bold;
    color: #0065FC;
}

nav a:hover,i{
    color: #0065FC;
}

#stays-list{
    flex-wrap: wrap;
    justify-content: left;
}

#popular-list{
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 6px;
    justify-content: space-around;
}

#stays .box{
    box-shadow: 3px 3px 6px grey;
}

.box{
    border-radius: 6px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

#stays-list div{
    width: fit-content;
    margin-right: 48px;
}

#popular-list div{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    max-width: 100%;
    width: auto;
    align-content:baseline;
}

#popular-list i{
    position: relative;
    top: +52px;
}

a{
    text-decoration: none;
    color: black
}

#filters, footer, header, #stays, #popular-list, #stays-list, #activities-list, #filterbar{
    display:flex;
}

#filters li{
    margin-right: 20px;
    border: 1px solid lightgray;
    border-left: none;
    padding-right: 12px;
    border-radius: 32px;
    font-weight: bold;
    text-align: center;
}

#filters li:hover{     
    background-color: #0065FC;
    color: white;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

#search button{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 6px 6px 0px;
}

#search input, #search button{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    border: none
}

#filters i{
    background-color: #DEEBFF;
    padding: 16px;
    border-radius: 32px;
    border: none;
    margin-right: 12px;
}

#information{
    border: 1px solid lightgrey;
    border-radius:64px;
    padding: 8px;
    margin-right: 12px;
}

form i{
    margin-right: 12px;
    margin-left: 12px;
    color: black
}

.four-stars, .three-stars, .five-stars{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.four-stars i:nth-child(5),.three-stars i:nth-child(5),.three-stars i:nth-child(4){
    color: lightgray
}

.box br{
    margin-bottom: 5px;
}

#mostpopular br{
    margin-bottom: 10px;
}

.box p, .five-stars, .four-stars, .three-stars{
    margin-bottom: 6px;
    margin-left: 6px;
}

strong{
    font-size: 18px;
    background: none;
}

h2 i{
    color: black;
    text-align:end;
}

#search h2{
    align-self: center;
}

#activities-list {
    flex-flow:nowrap row;
}

#activities-list img{
    width: 100%;
    max-width: 400px;
    flex: 22;
}

#activities-list .box{
    margin-right: 24px;
    overflow: hidden;
    padding-bottom: 6px;
    display: flex;
    flex:1
}

#activities{
    min-height: 575px;
    max-height: 575px;
}

#column1, #column2, #column3, #column4{
    display: flex;
    flex-flow: nowrap column;
    height: 525px;
}

#activities a{
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-end;
}

#column2 .box:first-child{
    flex:1.8
}

#column4 .box:nth-child(2){
    flex:1.3
}