#activities, #search, footer, section, #stays, header{
    width: 95%;
    margin-bottom: 14px;
}

footer{
    min-height: 200px;
    background-color:forestgreen;
    display: flex;
    justify-content: flex-start
}

footer div{
    flex: 33%
}

header{
    min-height: 100px;
    background-color:red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search{
    min-height: 200px;
    background-color: purple
}

#stays{
    min-height: 625px;
}

#latest{
    background-color: orangered;
    flex:70%;
    margin-right: 25px;
}

section img{
    border-radius: 6px 6px 0px 0px;
}

aside img{
    border-radius: 6px 0px 0px 6px;
}

#activities{
    min-height: 400px;
    background-color: darkgoldenrod;
}

#stays{
    display:flex;
    flex-wrap: nowrap;
}

aside{
    background-color: palevioletred;
    flex:40%;
    border-radius: 6px;
}

nav{
    height: 80px;
    background-color: brown;
}

ul{
list-style-type: none;
}

nav ul{
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

nav li{
    padding: 10px 10px 10px 10px;
    margin-right:15px
}

@media all and (max-width: 1024px){
    header, #stays{
        flex-direction: column;
    }

    #latest, aside, #footer div{
        flex: 100%
    }

    #footer{
        flex-direction: column;
    }

    #nav li{
        flex: 100%;
    }
}

#stays-marseille img{
    width: 225px;
    max-width: 250px;
    height: 125px;
}

#popular-marseille img{
    width: 150px;
    height: 150px
}

#activities img{
    width: 300px;
}

nav li:hover{
    border-top: 2px solid #0065FC;
}

#stays-marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#popular-marseille{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 6px;
    justify-content: space-around;
}

#stays-marseille div, #popular-marseille div, #activities-marseille div{
    box-shadow: 3px 3px 6px grey;
}

#stays-marseille div{
    border-radius: 6px;
    max-width: 300px;
}

#popular-marseille div{
    border-radius: 6px;
    max-width: 300px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    max-width: 100%;
    width: auto;
    align-content:baseline;
}

#stays-marseille div:nth-child(1),#stays-marseille div:nth-child(2),#stays-marseille div:nth-child(3){
    margin-bottom: 15px;
}

#activities-marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#activities-marseille div:nth-child(1), #activities-marseille div:nth-child(4),{
    flex: 100%
}